## For DBMind-core ##
numpy~=1.19.0
scipy==1.6.2
pexpect>=4.9.0
scipy>=1.6.2
requests==2.31.0
sqlparse>=0.4.4
fastapi==0.95.2
uvicorn>=0.20.0
sqlalchemy==1.4.22
# Use `#` to set an alternative psycopg2
psycopg2-binary # psycopg2
pycryptodome==3.19.1
## For components ##
prettytable>=3.3.0
## Prometheus Exporter
pyyaml==6.0
prometheus-client==0.16.0
## SQL Rewriter
sql_metadata
mo-sql-parsing==9.262.22323

