## For DBMind-core ##
cryptography
paramiko>=2.7.2
numpy
scipy
requests
sqlparse
fastapi<=0.99.0
uvicorn
sqlalchemy==1.4.44
# Use `#` to set an alternative psycopg2
psycopg2-binary # psycopg2
pycryptodome
## For components ##
prettytable>=2.5.0
## Prometheus Exporter
pyyaml
prometheus-client
# Rewriter
sql-metadata
mo-sql-parsing>=9.262.22323

