
.flexbox {
  display: flex;
}
.flextitle1 {
  width: 120px;
}
.flextitle2 {
  width: 130px;
}
.ant-spin-container ul {
  justify-content: flex-end;
  background-color: #fff;
}
.flexcheckbox {
  display: flex;
  justify-content: space-around;
}
.ant-form-horizontal .ant-form-item-label{
  width: 120px!important;
}
.errorinvalid .ant-form-item-explain-error{
  width: 200px;
}
.uploadcss .ant-upload-list{
  display: inline-block;
  margin: 0px 20px;
}
.uploadcss .ant-upload-list-item{
  margin-top: 0px;
}
.analysis .ant-col{
  margin-bottom: 20px;
}
.insertclass{
  width:100px;
  height: 22px;
  float: right;
  line-height: 22px;
  padding: 6px 0px;
}
.insertclass span{
  display: block;
  height: 10px;
  float: left;
  margin-right: 1%;
}

.indexadvisor .ant-card-head-title{
  padding: 10px 0px;
}
.indexadvisor .recommended .ant-card-body{
  padding: 8px 20px;
}
.indexadvisor .backcolor{
  margin-bottom: 10px;
}
.indexadvisor .backcolor .ant-card-body{
  padding: 10px;
}
.indexadvisor .backcolor .ant-card-head-title{
  padding: 1px 0px;
}
.indexadvisor .backcolor .ant-card-head{
  background-color: #f6f6f6;
  padding: 0px 14px;
  min-height: 28px;
  color: #393939;
}
.indexadvisor .backcolor .ant-btn{
  padding: 0;
}

.indexadvisor .ant-card-head, .intelligent .ant-card-head, .querytuning .ant-card-head, .riskanalysis .ant-card-head{
  min-height: 50px;
  padding: 0;
  margin: 0px 20px;
  border-bottom: 1px solid #dddddd;
}
.intelligent .ant-picker-separator,.ant-picker-suffix{
  color: #5990FD;
}