.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
/* dbmind-settings表格列宽 */
/* .tablecellclass .ant-table-cell-fix-left{
  width:200px;
} */
@keyframes blink{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.blink{
  color:#ff5500;
  font-size: 14px;
  animation: blink 500ms linear infinite;
}
.dbmindTable .ant-table-pagination.ant-pagination {
  padding-right: 300px;
}
.ant-collapse-icon-position-end > .ant-collapse-item > .ant-collapse-header {
  padding: 8px 40px 0 8px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text{
  flex: none;
  background-color: #5990FD;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
  font-size: 12px;
  padding: 2px 10px;
  font-weight : bold ;
}
.ant-collapse-content {
  border-top: none;
}
.panelStyle{
  margin-bottom: 15px;
  background-color: #f6f6f6;
  border-radius:4px 4px 0 0;
}
.settingstyle .ant-card-head {
  border-bottom: none;
}
.settingstyle .ant-card-body {
  padding: 0 24px 24px 24px;
}
.settingstyle .ant-card-head-title {
  padding: 11px 0;
}