.clusterInfo .clusterCont img{
  width: 76px;
  height: 76px;
  margin: 0px 10px;
}
.clusterInfo .clusterCont h3{
  text-align: center;
  margin: 0;
  font-size: 12px;
}
.clusterInfo .clusterCont h4{
  text-align: center;
  font-size: 10px;
  margin: 0;
}
#alertrolling {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
#alertrolling1 {
  position: absolute;
  width: 100%;
  top: 0;
}
#alertrolling1 li {
  margin-bottom: 6px;
  color:#ff4d4f
}