accelerate==0.14.0
apex==0.9.10dev
azureml==0.2.7
cloudpickle==1.6.0
codecarbon==2.1.4
comet_ml==3.32.4
cookiecutter==2.1.1
data==0.4
datasets==2.10.1
fairscale==0.4.13
fairseq==0.12.2
fastapi==0.94.1
flax==0.6.7
gensim==3.8.3
gym==0.19.0
h5py==2.10.0
huggingface_hub==0.10.1
importlib_metadata==3.10.0
intel_extension_for_pytorch==1.13.100
ipython==8.11.0
jax==0.4.6
jaxlib==0.4.6
joblib==1.0.1
kenlm==0.1
keras==2.7.0
matplotlib==3.3.4
mlflow==2.2.2
mpi4py==3.1.4
msgpack_python==0.5.6
mujoco_py==2.1.2.14
neptune==1.0.2
nlg_eval==2.3
numpy==1.20.1
onnxruntime==1.14.1
opencv_python==4.6.0.66
optuna==3.1.0
packaging==20.9
pandas==1.2.4
Pillow==9.4.0
protobuf==4.22.1
psqlparse==1.0rc7
psutil==5.8.0
psycopg2==2.9.3
py3nvml==0.2.7
pyctcdecode==0.5.0
pydantic==1.10.2
pyhdb==0.3.4
pyodbc==4.0.0_unsupported
pytesseract==0.3.10
pytest==6.2.3
PyYAML==6.0
ray==2.3.0
regex==2021.4.4
requests==2.25.1
safetensors==0.3.0
scikit_learn==1.2.2
scipy==1.6.2
seaborn==0.11.1
sentencepiece==0.1.97
sigopt==8.7.0
sphinx_rtd_theme==1.2.0
stable_baselines3==1.7.0
starlette==0.26.1
tensorboardX==2.6
tensorflow==2.7.0
tensorflow_probability==0.19.0
tf2onnx==1.13.0
tokenizers==0.13.2
torch==1.10.0
torch_xla==1.0
torchaudio==0.10.0
torchdynamo==1.13.0
tqdm==4.59.0
transformers==4.24.0
treelib==1.6.1
uvicorn==0.21.1
wandb==0.14.0